html{
    background-color: #000 !important;
    margin:0px !important;
    padding: 0px !important;
}
body{  
    color: #777777 !important;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #000 !important;
    font-size: 24px;
    margin:0px !important;
    padding: 0px !important;
}
h1{
    margin:-4% 0px 0px 0px !important;
}
a,ahover{
    color: white !important;
}
@media (min-width: 1024px) {
    
}
@media (max-width: 1023px) {
    /*.height{
        height: 75vh;
        background-size: 100% 75vh;
    }*/
    body{
        font-size: 18px !important;
    }
    .menu ul li{    
        padding-right: 10px !important;
    }
    .medium{
        font-size: 5vw !important;
    }
    .menu ul li{
        font-size: 2vw !important;
    }
}

.head{
    background-image: url('../images/girl-tattoos1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}
.height{
    height: 100vh;
    background-size: 100% 100vh;
}
.title{
    font-family: 'Alfa Slab One', cursive;

}
.yelow{
    color:#ccaf2d;
}
.whitee{
    color: #FFF;
}
.large{
    font-size: 6vw;
}
.medium{
    font-size: 3vw;
}
.fullw{
    width: 100%;
}
.fullh{
    height: 100vh;
}
.centra{
    padding:70px 30px;
}
.top{
    width:100%;
}
.bottom{
    margin-bottom: 30px;
}
.galeria{
    height: 50vh;
}
.menu ul{
    position: fixed;
    display: inline;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
}
.menu ul li{
    display: inline;
    color: white;
    padding-right: 30px;
    font-size: 1.5vw;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.menu ul li img{    
    width:100%;    
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.logo{
    margin-right: 10%;    
    padding-left:10%;
}
.centra2{
    margin-top:20px;
}
.menu ul li img{ 
    vertical-align: middle !important;
    max-width: 10%;
    height: auto; 
}
.center{
    text-align: center;
}

/* Blur */
.hover07 img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);    
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.absolute{
    position: absolute;
}